/* Colors */
$bg-primary: #fcfcfc;
$bg-secondary: #fcfcfc;
$text-primary: #0f0f0f;
$text-secondary: #0f0f0f;

$color-primary: #1f4878;
$color-secondary: #6c757d;
$color-success: #28a745;
$color-info: #17a2b8;
$color-warning: #ffc107;
$color-danger: #dc3545;

$border-primary: #1f4878;
$border-secondary: #6c757d;
$border-success: #28a745;
$border-info: #17a2b8;
$border-warning: #ffc107;
$border-danger: #dc3545;
